%h1 Find Feed
= render :partial => 'form'

- unless @feeds.nil?
  - if @feeds.empty?
    No results found
  - else
    %h2 Results
    %ul
      - @feeds.each do |feed|
        %li
          = link_to feed.title, feed
