%h1 @article.title
%br/
%br/
%h2 @article.posted_at
%br/
%h3 Source: #{@article.feed.title}
%h3 By, #{@article.author}
%br/
%h4 @article.link
%br/
%br/
%hr
/ insert a nav_bar here i.e archieve | bookmark | share on google | @article.comment_link(<-this one should work fine)
%hr
%br/
%br/
.article_summary
/ this works in the console, can always run with just @article.description if it doesn't in the browser
- if @article.content.present?
  @article.content
- else
  @article.description
%br/
%hr
/ insert a nav_bar here i.e archieve | bookmark | share on google | @article.comment_link(<-this one should work fine)
%br/
%br/
%hr
%nav.nav_bottom
  =link_to 'Back', articles_path







