
/*******
* TOOLS *
********/
*,*:before,*:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/*******
* LAYOUT  *
********/

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.feedx_symbol {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: #000;
  text-decoration: none;
}

.nav-bar {
  height: 60px;
  line-height: 60px;
  // background-color: #e2ebf3;
}

.right-nav {
  text-align: right;
}

.bottom-nav {
  text-align: right;
}

.codeship {
  text-align: left;
}

.article-read {
  font-weight: bold;
}

















